/* Basic styling for the stopwatch */
.stopwatch {
    text-align: center;
    padding: 20px;
    color: rgb(0, 6, 5);
    margin-top: 90px;
    font-size: 50px;
    margin-left: 60%;
}

.display {
    font-size: 40px;
}

.controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    color: rgb(159, 31, 31);
    background-color: rgb(169, 126, 74);
}
body{
    background-image:url(Stop.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1{
    text-shadow: 100px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
